<h3>>8.	Cancellation and suspension of account</h3>
<p>8.1	We may:</p><
<li>(a)	suspend your account;</li>
<li>(b)	cancel your account; and/or</li>
<li>(c)	edit your account details at any time in our sole discretion without notice or explanation.</li>
<p>8.2	You may cancel your account on our website using your account control panel on the website.</p>
<h3>9.	Your content: licence</h3>
<p>9.1	In these terms and conditions, "your content" means [all works and materials (including without limitation text, graphics, images, audio material, video material, audio-visual material, scripts, software and files) that you submit to us or our website for storage or publication on, processing by, or transmission via, our website].</p>
<p>9.2	You grant to us a worldwide, irrevocable, non-exclusive, royalty-free licence to use, reproduce, store, adapt, publish, translate and distribute your content in any existing or future media.</p>
<p>9.3	You grant to us the right to sub-license the rights licensed under Section 9.2.</p>
<p>9.4	You grant to us the right to bring an action for infringement of the rights licensed under Section 9.2.</p>
<p>9.5	You hereby waive all your moral rights in your content to the maximum extent permitted by applicable law; and you warrant and represent that all other moral rights in your content have been waived to the maximum extent permitted by applicable law.</p>
<p>9.6	You may edit your content to the extent permitted using the editing functionality made available on our website.</p>
<p>9.7	Without prejudice to our other rights under these terms and conditions, if you breach any provision of these terms and conditions in any way, or if we reasonably suspect that you have breached these terms and conditions in any way, we may delete, unpublish or edit any or all of your content.</p>
<h3>10.	Your content: rules</h3>
<p>10.1	You warrant and represent that your content will comply with these terms and conditions.</p>
<p>10.2	Your content must not be illegal or unlawful, must not infringe any person's legal rights, and must not be capable of giving rise to legal action against any person (in each case in any jurisdiction and under any applicable law).</p>
<p>10.3	Your content, and the use of your content by us in accordance with these terms and conditions, must not:</p>
<uL>
  <li>(a)	be libellous or maliciously false;</li>
  <li>(b)	be obscene or indecent;</li>
  <li>(c)	infringe any copyright, moral right, database right, trade mark right, design right, right in passing off, or other intellectual property right;</li>
  <li>(d)	infringe any right of confidence, right of privacy or right under data protection legislation;</li>
  <li>(e)	constitute negligent advice or contain any negligent statement;</li>
  <li>(f)	constitute an incitement to commit a crime[, instructions for the commission of a crime or the promotion of criminal activity];</li>
  <li>(g)	be in contempt of any court, or in breach of any court order;</li>
  <li>(h)	be in breach of racial or religious hatred or discrimination legislation;</li>
  <li>(i)	be blasphemous;</li>
  <li>(j)	be in breach of official secrets legislation;</li>
  <li>(k)	be in breach of any contractual obligation owed to any person;</li>
  <li>(l)	depict violence in an explicit, graphic or gratuitous manner;</li>
  <li>(m)	be pornographic, lewd, suggestive or sexually explicit;</li>
  <li>(n)	be untrue, false, inaccurate or misleading;</li>
  <li>(o)	consist of or contain any instructions, advice or other information which may be acted upon and could, if acted upon, cause illness, injury or death, or any other loss or damage;</li>
  <li>(p)	constitute spam;</li>
  <li>(q)	be offensive, deceptive, fraudulent, threatening, abusive, harassing, anti-social, menacing, hateful, discriminatory or inflammatory or</li>
  <li>(r)	cause annoyance, inconvenience or needless anxiety to any person.</li>
</uL>
<h3>11.	Limited warranties</h3>
<p>11.1	We do not warrant or represent:</p>
<ul>
  <li>(a)	the completeness or accuracy of the information published on our website;</li>
  <li>(b)	that the material on the website is up to date; or</li>
  <li>(c)	that the website or any service on the website will remain available.</li>
</ul>
<p>11.2	We reserve the right to discontinue or alter any or all of our website services, and to stop publishing our website, at any time in our sole discretion without notice or explanation; and save to the extent expressly provided otherwise in these terms and conditions, you will not be entitled to any compensation or other payment upon the discontinuance or alteration of any website services, or if we stop publishing the website.</p>
<p>11.3	To the maximum extent permitted by applicable law and subject to Section 12.1, we exclude all representations and warranties relating to the subject matter of these terms and conditions, our website and the use of our website.</p>
<h3>12.	Limitations and exclusions of liability</h3>
<p>12.1	Nothing in these terms and conditions will:</p>
<ul>
  <li>(a)	limit or exclude any liability for death or personal injury resulting from negligence;</li>
  <li>(b)	limit or exclude any liability for fraud or fraudulent misrepresentation;</li>
  <li>(c)	limit any liabilities in any way that is not permitted under applicable law; or</li>
  <li>(d)	exclude any liabilities that may not be excluded under applicable law.</li>
</ul>
<p>12.2	The limitations and exclusions of liability set out in this Section 12 and elsewhere in these terms and conditions:</p>
<ul>
  <li>(a)	are subject to Section 12.1; and</li>
  <li>(b)	govern all liabilities arising under these terms and conditions or relating to the subject matter of these terms and conditions, including liabilities arising in contract, in tort (including negligence) and for breach of statutory duty, except to the extent expressly provided otherwise in these terms and conditions.</li>
</ul>
<p>12.3	To the extent that our website and the information and services on our website are provided free of charge, we will not be liable for any loss or damage of any nature.</p>
<p>12.4	We will not be liable to you in respect of any losses arising out of any event or events beyond our reasonable control.</p>
<p>12.5	We will not be liable to you in respect of any business losses, including (without limitation) loss of or damage to profits, income, revenue, use, production, anticipated savings, business, contracts, commercial opportunities or goodwill.</p>
<p>12.6	We will not be liable to you in respect of any loss or corruption of any data, database or software.</p>
<p>12.7	We will not be liable to you in respect of any special, indirect or consequential loss or damage.</p>
<p>12.8	You accept that we have an interest in limiting the personal liability of our officers and employees and, having regard to that interest, you acknowledge that we are a limited liability entity; you agree that you will not bring any claim personally against our officers or employees in respect of any losses you suffer in connection with the website or these terms and conditions (this will not, of course, limit or exclude the liability of the limited liability entity itself for the acts and omissions of our officers and employees).</p>
<h3>13.	Breaches of these terms and conditions</h3>
<p>13.1	Without prejudice to our other rights under these terms and conditions, if you breach these terms and conditions in any way, or if we reasonably suspect that you have breached these terms and conditions in any way, we may:</p>
<ul>
  <li>(a)	send you one or more formal warnings;</li>
  <li>(b)	temporarily suspend your access to our website;</li>
  <li>(c)	permanently prohibit you from accessing our website;</li>
  <li>(d)	block computers using your IP address from accessing our website;</li>
  <li>(e)	contact any or all of your internet service providers and request that they block your access to our website;</li>
  <li>(f)	commence legal action against you, whether for breach of contract or otherwise; and/or</li>
  <li>(g)	suspend or delete your account on our website.</li>
</ul>
<p>13.2	Where we suspend or prohibit or block your access to our website or a part of our website, you must not take any action to circumvent such suspension or prohibition or blocking including without limitation creating and/or using a different account.</p>
<h3>14.	Variation</h3>
<p>14.1	We may revise these terms and conditions from time to time.</p>
<p>14.2	The revised terms and conditions shall apply to the use of our website from the date of publication of the revised terms and conditions on the website, and you hereby waive any right you may otherwise have to be notified of, or to consent to, revisions of these terms and conditions.] OR [We will give you written notice of any revision of these terms and conditions, and the revised terms and conditions will apply to the use of our website from the date that we give you such notice; if you do not agree to the revised terms and conditions, you must stop using our website.</p>
<p>14.3	If you have given your express agreement to these terms and conditions, we will ask for your express agreement to any revision of these terms and conditions; and if you do not give your express agreement to the revised terms and conditions within such period as we may specify, we will disable or delete your account on the website, and you must stop using the website.</p>
<h3>15.	Assignment</h3>
<p>15.1	You hereby agree that we may assign, transfer, sub-contract or otherwise deal with our rights and/or obligations under these terms and conditions.</p>
<p>15.2	You may not without our prior written consent assign, transfer, sub-contract or otherwise deal with any of your rights and/or obligations under these terms and conditions.</p>
<h3>16.	Severability</h3>
<p>16.1	If a provision of these terms and conditions is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect.</p>
<p>16.2	If any unlawful and/or unenforceable provision of these terms and conditions would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect.</p>
<h3>17.	Third party rights</h3>
<p>17.1	A contract under these terms and conditions is for our benefit and your benefit, and is not intended to benefit or be enforceable by any third party.</p>
<p>17.2	The exercise of the parties' rights under a contract under these terms and conditions is not subject to the consent of any third party.</p>
<h3>18.	Entire agreement</h3>
<p>18.1	Subject to Section 12.1, these terms and conditions[, together with [our privacy and cookies policy],] shall constitute the entire agreement between you and us in relation to your use of our website and shall supersede all previous agreements between you and us in relation to your use of our website.</p>
<h3>19.	Law and jurisdiction</h3>
<p>19.1	These terms and conditions shall be governed by and construed in accordance with English law.</p>
<p>19.2	Any disputes relating to these terms and conditions shall be subject to the exclusive jurisdiction of the courts of England.</p>
<h3>20.	Statutory and regulatory disclosures</h3>
<h3>21.	Our details</h3>
<p>21.1	This website is owned and operated by Richard Abrahams.</p>
